#carousel-1 {
  max-width: 50em;
}

@media (max-width: 768px) {
  #recipeCarousel .carousel-inner .carousel-item > div {
    display: none;
  }
}

@media (max-width: 768px) {
  #recipeCarousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

#recipeCarousel .carousel-inner .carousel-item.active, #recipeCarousel .carousel-inner .carousel-item-next, #recipeCarousel .carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */

@media (min-width: 768px) {
  #recipeCarousel .carousel-inner .carousel-item-right.active, #recipeCarousel .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
}

@media (min-width: 768px) {
  #recipeCarousel .carousel-inner .carousel-item-left.active, #recipeCarousel .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

#recipeCarousel .carousel-inner .carousel-item-right, #recipeCarousel .carousel-inner .carousel-item-left {
  transform: translateX(0);
}

