$gray-bg-color: #0d2b45;
$gray-color: #203c56;
$gray-white-color: #555c63;

$brown-bg-color: #544e68;
$brown-color: #8d697a;

$orange-bg-color: #d08159;
$orange-color: #ffaa5e;

$skin-bg-color: #ffd4a3;
$skin-color: #ffecd6;